.btn-show-more {
    border: none;
    background-color: transparent;
    color: black;
    font-size: 20px;
}

.headerCustom {
    background-color: antiquewhite;
}

a {
    text-decoration: none;
}

.titulos {
    color: #ef8952;
}

.btn {
    background-color: orange !important;
    color: white;
    border: none;
}

.btn-create-topic {
    font-size: 18px;
}

.card {
    border-radius: 0px;
}

.headerDetalhes {
    background-color: antiquewhite;
    border-bottom: 0.5px solid #C7C8CC;
}

body {
    overflow-y: hidden !important;
}

.marginLogo {
    margin-top: 60px;
}

.img-cover {
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}

.footer{
    border-top: 1px solid #C7C8CC;
}

li a{
    color: black !important;
}

