<div class="row">
  <div class="d-flex col-2 flex-column flex-shrink-0 p-3 text-black bg-white shadow" style="width: 280px;">
    <div class="text-center text-white" style="background-color: orange !important;">
      <h1>SLACA 2019</h1>
    </div>
    <div class="col-12c mt-2 text-center ">
      <img src="assets/orange_1292469.png" width="200px"/>
      <br/>
      <b style="font-size: 40px; color: orange;">13 SLACA</b>
    </div>
    <hr/>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link" aria-current="page">
          Apresentação
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-black">
         Comitês
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-black">
          Autores
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-black">
          Eixos Tematicos
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-black">
          Trabalhos
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-black">
          Contato
        </a>
      </li>
    </ul>
    <hr>
  </div>

  <div class="col-10">
    <div class="container-fluid">
      <div class="row">
        <div class="col-10">
          <h2 class="titulos mt-4">
            Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de
            Campinas/SP'
          </h2>
        </div>
        <div class="col-2 mt-5">
          <div class="d-flex justify-content-center">
            <div class="col-4">
              <button type="button" class="btn btn-primary btn-sm d-grid">Download</button>
            </div>
            <div class="col-4 text-center">
              <button type="button" class="btn btn-primary btn-sm" style="width: 85%;">☆</button>
            </div>
            <div class="col-4">
              <button type="button" class="btn btn-primary btn-sm" style="width: 100%;">doi</button>
            </div>
          </div>
          <div class="mt-3">
            <h5 class="titulos">Como citar esse trabalho?</h5>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <img src="assets/6524095.jpg" class="img-cover" height="600px">
        </div>
        <div class="col-2">
          <div class="card">
            <div class="col-12 text-start headerDetalhes">
              <h5 class="mt-2 ms-3">Detalhes</h5>
            </div>
            <div class="card-body">
              <div class="col text-start">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eleifend massa eget felis faucibus ornare.
                  In hac habitasse platea dictumst. In consectetur, purus id scelerisque rhoncus, ligula nisi faucibus
                  sapien, vel ultricies leo orci non eros. Fusce massa est, scelerisque in placerat non, ornare
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Resumo -->
      <div class="col-12 mt-5">
        <a class="btn-show-more" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
          aria-controls="collapseExample">
          <div class="col-12 headerCustom">
            <h5 class="d-inline-flex gap-1  ms-3 mt-3">
              Resumo
            </h5>
          </div>
        </a>
        <div id="collapseExample">
          <div class="card card-body">
            is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
            type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
            containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
            including versions of Lorem Ipsum.
          </div>
        </div>
      </div>
      <!-- Discussões -->
      <div class="col-12 mt-5">
        <div class="card">
          <div class="text-start headerDetalhes">
            <h5 class="ms-3 mt-3 mb-3">Discussões</h5>
          </div>
          <div class="card-body">
            <div class="col-12 text-center ms-5 me-5">
              <h5 class="titulos">Compartilhe suas ideias ou dúvidas com os autores!</h5>
            </div>
            <div class="col-12 mt-3">
              <div class="d-flex justify-content-center">
                <div class="ms-3">
                  <img src="assets/1.png" width="40px">
                </div>
                <div class="me-3 ms-3">
                  <img src="assets/2.png" width="40px">
                </div>
                <div>
                  <img src="assets/3.png" width="40px">
                </div>
              </div>
            </div>
            <div class="col-12 text-center mt-3">
              <p>
                Sabia que o maior estímulo no desenvolvimento científico e cultural é a curiosidade?
                Deixe seus questionamentos ou sugestões para o autor!
              </p>
            </div>
            <div class="col-12 text-center">
              <button type="button" class="btn btn-primary btn-sm btn-create-topic">+ cria tópico</button>
            </div>
            <div class="col-12 mt-3">
              <div class="card shadow">
                <div class="card-body">
                  <div class="ms-2">
                    <h5 class="titulos mb-2">Assunto da pergunta aparece aqui</h5>
                    <b>Carlos Henrique Santos</b>
                    <br />
                    <span>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                      velit...</span>
                    <div class="d-flex justify-content-left">
                      <div class="me-2">
                        :
                      </div>
                      <div class="me-2">
                        ♡
                      </div>
                      <div class="me-2">
                        1 like
                      </div>
                      <div>
                        1 Resposta
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 mt-3">
              <div class="card shadow">
                <div class="card-body">
                  <div class="ms-2">
                    <h5 class="titulos mb-2">Assunto da pergunta aparece aqui</h5>
                    <b>Carlos Henrique Santos</b>
                    <br />
                    <span>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                      velit...</span>
                    <div class="d-flex justify-content-left">
                      <div class="me-2">
                        :
                      </div>
                      <div class="me-2">
                        ♡
                      </div>
                      <div class="me-2">
                        1 like
                      </div>
                      <div>
                        1 Resposta
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- footer -->
      <div class="col-12 footer mt-5">
        <div class="row">
          <div class="col-2">
            <img src="assets/2580565.jpg" width="280px">
          </div>
          <div class="col-10">
            <div class="marginLogo">
              <p>
                <b style="color: grey;">Sed vestibulum, arcu sit amet semper lacinia, nibh erat placerat arcu, nec tincidunt odio</b> lacus vel justo.
                Fusce eget nibh in nibh blandit lacinia. Nunc nulla sem, dapibus sit amet neque sodales, iaculis imperdiet
                diam. In eu dui sed felis fringilla porttitor.
              </p>
              <p>
                Phasellus eget convallis lorem. Suspendisse pulvinar rutrum venenatis. Integer venenatis efficitur urna,
                eget aliquam est porttitor sed. Pellentesque id ullamcorper purus.
                Phasellus eget convallis lorem. Suspendisse pulvinar rutrum venenatis. Integer venenatis efficitur urna,
                eget aliquam est porttitor sed. Pellentesque id ullamcorper purus.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>